@model CONTRAST_WEB.Models.vw_request_summary

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>vw_request_summary</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.group_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.group_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.id_dit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.id_dit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.no_reg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.no_reg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.id_destination_city)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.id_destination_city)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.destination_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.destination_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.multiple_destination_flag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.multiple_destination_flag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.departure)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.departure)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.participants_flag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.participants_flag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.overseas_flag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.overseas_flag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.id_travel_type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.id_travel_type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.request_type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.request_type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.travel_purpose)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.travel_purpose)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.invited_by)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.invited_by)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.reason_of_assigment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.reason_of_assigment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.air_ticket_flag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.air_ticket_flag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.passport_flag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.passport_flag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_by_dh)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_by_dh)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_by_fd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_by_fd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_by_vp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_by_vp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_by_pd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_by_pd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_dh)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_dh)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_fd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_fd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_vp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_vp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_pd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_pd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_dh_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_dh_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_fd_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_fd_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_vp_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_vp_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apprv_pd_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apprv_pd_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.budget)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.budget)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.remaining_budget)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.remaining_budget)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.exep_empolyee)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.exep_empolyee)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.start_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.start_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.end_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.end_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.duration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.duration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.create_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.create_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.comments)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.comments)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.transit_by_land)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.transit_by_land)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.transit_by_air)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.transit_by_air)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.total_transit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.total_transit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_transit_by_land)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_transit_by_land)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_transit_by_air)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_transit_by_air)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.total_allowance_transit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.total_allowance_transit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_meal_idr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_meal_idr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_meal_jpy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_meal_jpy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_meal_usd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_meal_usd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_hotel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_hotel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_transportation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_transportation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_laundry)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_laundry)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_miscellaneous)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_miscellaneous)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.total_allowance_basic)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.total_allowance_basic)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_ticket)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_ticket)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_visa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_visa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_passport)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_passport)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.total_allowance_document)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.total_allowance_document)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.grand_total_allowance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.grand_total_allowance)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status_request)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status_request)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.active_flag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.active_flag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.destination_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.destination_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.region_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.region_name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_request }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
