@model CONTRAST_WEB.Models.TravelRequestHelper
@{
    ViewBag.Title = "TRAVEL REQUEST";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
    List<SelectListItem> asd = new List<SelectListItem>();
    List<SelectListItem> asd2 = new List<SelectListItem>();

    asd = ViewBag.RL;
    asd2 = ViewBag.RL2;

}

<div style="height:100px; padding:70px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Menu/">Home</a></li>
        <li class="breadcrumb-item active">Travel Assignment</li>
    </ol>
</div>

@using (Html.BeginForm("Index", "TravelRequestValidation", FormMethod.Post))
{
    <div class="container">
        <div style="margin-top:100px" class="row">
            <div class="col-md-8 col-md-offset-1"><h4 style="text-align:left; padding:10px; margin-bottom:0px;">TRAVEL ASSIGNMENT</h4></div>
            <div class="col-md-8 col-md-offset-1"><h5 style="text-align:left; margin-top:0px; padding:0 10px;">"Surat Perintah Perjalanan Dinas"</h5></div>
            <div class="col-md-3"></div>
            <form action="" id="loginForm">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        @Html.TextBoxFor(m => m.employee_info.code, new { @class = "form-control", placeholder = "No Reg", @readonly = "readonly" })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.employee_info.name, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-stats"></i></span>
                        @Html.TextBoxFor(m => m.employee_info.@class, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
                        @Html.TextBoxFor(m => m.employee_info.unit_code_code, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <strong>Select Destination :</strong>
                    <div style="width:150px;" class="radio">
                        <label style="float:left;">
                            <input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="single" checked>
                            Single
                        </label>
                        <label style="float:right;">
                            <input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="multiple">
                            Multiple
                        </label>
                    </div>
                    <div style="padding:5px; height:220px;" id="des1">
                        <strong style="color:deepskyblue">DESTINATION 1</strong>
                        <p>Derparture Date :</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            @Html.TextBoxFor(m => m.travel_request.start_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Departure" })
                        </div>
                        <p>Return Date :</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            @Html.TextBoxFor(m => m.travel_request.end_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Return" })
                        </div>
                        <div style="margin-bottom:0px;" class="form-group input-group">
                            <!--<button class="btn btn-info">ADD DESTINATION</button>-->
                            <a class="btn btn-info" id="b1show">ADD DESTINATION</a>
                            <!--<a class="btn btn-info" id="b1hide">CANCEL</a>-->
                        </div>
                    </div>
                    <div style="padding:5px; height:220px;" id="des2" hidden>
                        <strong style="color:deepskyblue">DESTINATION 2</strong>
                        <p>Derparture Date :</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            @Html.TextBoxFor(m => m.travel_request.start_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Departure" })
                        </div>
                        <p>Return Date :</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            @Html.TextBoxFor(m => m.travel_request.end_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Return" })
                        </div>
                        <div class="form-group input-group">
                            <a class="btn btn-info" id="b2show">ADD DESTINATION</a>
                        </div>
                    </div>
                    <div style="padding:5px; height:220px;" id="des3" hidden>
                        <strong style="color:deepskyblue">DESTINATION 3</strong>
                        <p>Derparture Date :</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            @Html.TextBoxFor(m => m.travel_request.start_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Departure" })
                        </div>
                        <p>Return Date :</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            @Html.TextBoxFor(m => m.travel_request.end_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Return" })
                        </div>
                        <div class="form-group input-group">
                            <a class="btn btn-info" id="b3show">ADD DESTINATION</a>
                        </div>
                    </div>
                    <br />
                    <strong>New or Renewal Passport :</strong>
                    <div style="width:125px;" class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.travel_request.passport_flag, true) Yes
                            <!--<input type="radio" name="optionsRadios2" id="optionsRadios1" value="yes" checked>Yes-->
                        </label>
                        <label style="float:right;">
                            @Html.RadioButtonFor(m => m.travel_request.passport_flag, false) No
                            <!--<input type="radio" name="optionsRadios2" id="optionsRadios2" value="no"> No-->
                        </label>
                    </div>
                    <div class="form-group">
                        <a href="/Participants/" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Participant</a>
                    </div>
                    <!--
                    <label>Budget :</label>
                    <br />
                    <div class="form-group input-group has-success has-feedback">
                        <span class="input-group-addon">RP.</span>
                        @*@Html.TextBoxFor(m => m.travel_request.allowance_meal_idr, new { @class = "form-control" , placeholder = "Meal Allowance" })*@

                    </div>
                    <div class="form-group input-group has-success has-feedback">
                        <span class="input-group-addon">RP.</span>
                        @*@Html.TextBoxFor(m => m.travel_request.allowance_hotel, new { @class = "form-control" , placeholder = "Hotel Allowance" })*@

                    </div>
                    <div class="form-group input-group has-success has-feedback">
                        <span class="input-group-addon">RP.</span>
                        @*@Html.TextBoxFor(m => m.travel_request.allowance_ticket, new { @class = "form-control",  placeholder = "Allowance Allowance" })*@

                    </div>
                    -->
                    <div class="form-group input-group has-warning">
                        <!--<span class="input-group-addon">RP.</span>
                        <input class="form-control" type="number" name='budget' placeholder="TOTAL" />-->
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                        <!--<input class="form-control" type="text" name='division' placeholder="Assigned By" />-->
                        @Html.TextBoxFor(m => m.travel_request.assign_by, new { @class = "form-control" })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-bold"></i></span>
                        @Html.DropDownListFor(m => m.travel_request.travel_purpose, asd2, "Travel Purpose", new { @class = "form-control", placeholder = "Purpose" })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                        @Html.TextBoxFor(m => m.travel_request.reason_of_assigment, new { @class = "form-control", placeholder = "Reason Assigment" })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                        @Html.DropDownListFor(m => m.travel_request.request_type, new SelectList(
                                                new[]
                                                {
                                                     new { Value = "true", Text = "Planed" ,},
                                                     new { Value = "false", Text = "Unplanned" },
                                                },
                                                "Value",
                                                "Text",
                                                Model
                        ), new { @class = "form-control" })
                    </div>
                    <strong>&nbsp;</strong>
                    <div style="width:150px" class="radio">
                        <label>
                            <input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="single" hidden>
                        </label>
                        <label style="float:right;">
                            <input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="multiple" hidden>
                        </label>
                    </div>
                    <div style="padding:5px; height:220px;" id="des1">
                        <hr />
                            <strong>Transportation :</strong>
                            <div style="width:140px;" class="radio">
                                <label style="float:left;">
                                    <input type="radio" name="optionsRadios2" id="optionsRadiosDomestic" value="flight" checked>
                                    Flight
                                </label>
                                <label style="float:right;">
                                    <input type="radio" name="optionsRadios2" id="optionsRadiosOverseas" value="land">
                                    Land
                                </label>
                            </div>
                            <strong>Destination :</strong>
                            <div style="width:170px;" class="radio">
                                <label>
                                    <!--<input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="domestic" checked>-->
                                    @Html.RadioButtonFor(m => m.travel_request.overseas_flag, false) Domestic
                                </label>
                                <label style="float:right;">
                                    <!--<input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="overseas">-->
                                    @Html.RadioButtonFor(m => m.travel_request.overseas_flag, true) Overseas
                                </label>
                            </div>
                        <div>
                            @Html.DropDownListFor(m => m.travel_request.id_destination_city, asd, "Select", new { @class = "form-control", placeholder = "Destination" })
                        </div>
                    </div>
                    <div style="padding:5px; height:220px;" id="des22" hidden>
                        <hr />
                        <strong>Transportation :</strong>
                        <div style="width:140px;" class="radio">
                            <label style="float:left;">
                                <input type="radio" name="optionsRadios2" id="optionsRadiosDomestic" value="flight" checked>
                                Flight
                            </label>
                            <label style="float:right;">
                                <input type="radio" name="optionsRadios2" id="optionsRadiosOverseas" value="land">
                                Land
                            </label>
                        </div>
                        <strong>Destination :</strong>
                        <div style="width:170px;" class="radio">
                            <label>
                                <!--<input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="domestic" checked>-->
                                @Html.RadioButtonFor(m => m.travel_request.overseas_flag, false) Domestic
                            </label>
                            <label style="float:right;">
                                <!--<input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="overseas">-->
                                @Html.RadioButtonFor(m => m.travel_request.overseas_flag, true) Overseas
                            </label>
                        </div>
                        <div style="margin-bottom:75px">
                           @Html.DropDownListFor(m => m.travel_request.id_destination_city, asd, "Select", new { @class = "form-control", placeholder = "Destination" })
                        </div>
                        </div>
                    <div style="padding:5px; height:220px;" id="des33" hidden>
                        <hr />
                        <strong>Transportation :</strong>
                        <div style="width:140px;" class="radio">
                            <label style="float:left;">
                                <input type="radio" name="optionsRadios2" id="optionsRadiosDomestic" value="flight" checked>
                                Flight
                            </label>
                            <label style="float:right;">
                                <input type="radio" name="optionsRadios2" id="optionsRadiosOverseas" value="land">
                                Land
                            </label>
                        </div>
                        <strong>Destination :</strong>
                        <div style="width:170px;" class="radio">
                            <label>
                                <!--<input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="domestic" checked>-->
                                @Html.RadioButtonFor(m => m.travel_request.overseas_flag, false) Domestic
                            </label>
                            <label style="float:right;">
                                <!--<input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="overseas">-->
                                @Html.RadioButtonFor(m => m.travel_request.overseas_flag, true) Overseas
                            </label>
                        </div>
                        <div style="margin-bottom:75px">
                            @Html.DropDownListFor(m => m.travel_request.id_destination_city, asd, "Select", new { @class = "form-control", placeholder = "Destination" })
                        </div>
                    </div>
                        <hr />
                        <label>Bank Account :</label>
                        <div class="form-group input-group">
                            @Html.TextBoxFor(m => m.employee_info.bank_account, new { @class = "form-control", @readonly = "readonly" })
                            <!--<input class="form-control" type="text" name='destination' style="margin-top: 3px; display:block;" placeholder="No. Rekening" />-->
                            <br />
                        </div>

                        <br />
                        <br />
                        <hr />
                        <button type="submit" style="width:145px" class="btn btn-info btn-lg" value="Submit">Submit</button>
                        <button style="width:145px" type="button" class="btn btn-default btn-lg" onclick="goBack()">Cancel</button>
                    </div>
            </form>
        </div>
        <hr />
    </div>
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>--> 
<script>
    $(document).ready(function () {
        $("#b1hide").click(function () {
            $("#des2").fadeOut(500);
        });
        $("#b1show").click(function () {
            $("#des2").fadeIn(500);
            $("#des22").fadeIn(500);
            $("#b1show").hide();
        });
        $("#b2hide").click(function () {
            $("#des2").fadeOut(500);
        });
        $("#b2show").click(function () {
            $("#des3").fadeIn(500);
            $("#des33").fadeIn(500);
            $("#b2show").hide();
        });
        $("#b3hide").click(function () {
            $("#des3").fadeOut(500);
        });
    });
</script>