@model IEnumerable<CONTRAST_WEB.Models.vw_request_summary>

@{
    ViewBag.Title = "TRAVEL EXECUTION";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
}
<div style="height:100px; padding:70px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Menu/">Home</a></li>
        <li class="breadcrumb-item active">Travel Execution</li>
    </ol>
</div>

@using (Html.BeginForm("Details", "SettlementList",FormMethod.Post))
{
<div class="container">
    <div style="margin-top:120px; padding:0 90px;" id="products" class="row list-group _3EibU">
        @foreach (var item in Model)
        {            
              @Html.HiddenFor(m => item.id_request)
              @Html.HiddenFor(m => item.id_destination_city)
              @Html.HiddenFor(m => item.allowance_meal_idr)
              @Html.HiddenFor(m => item.allowance_miscellaneous)
              @Html.HiddenFor(m => item.allowance_passport)
              @Html.HiddenFor(m => item.allowance_ticket)
              @Html.HiddenFor(m => item.allowance_transit_by_air)

              <div class="item col-xs-6 col-lg-6">
                  <div class="thumbnail">
                      <div class="clearfix">
                            
                               <span style="padding:0 10px"><input type="image" img style="margin:5px 0px; width:auto; height:50px" src="~/img/Settlement-icon-b.png" /></span>
                               <span class="templatetext">@Html.DisplayFor(modelItem => item.no_reg)</span>
                               <span class="designationstyle">&nbsp;(to @Html.DisplayFor(modelItem => item.destination_name) )</span>
                               <span style="float:right; padding:20px 20px;" class="glyphicon glyphicon-chevron-right"></span>
                                                     
                      </div>
                  </div>
              </div>
             }
        
    </div>
</div>
}
<script>
        function goBack() {
            window.history.back();
        }
</script>